{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- side navbar -->
    {% include "navigation.html" %}
    <div class="main">

        <!--  top navbar  -->
        {% include "top-navigation.html" %}

        <!--  main content  -->
        <main class="content">


            <div class="container-fluid">

                <div class="header" style="overflow: hidden; margin-bottom: 23px;">
                    <a class="sidebar-toggle d-flex mr-2" style="float: left; height: 32px; line-height: 32px;">
                        <i class="hamburger align-self-center"></i>
                    </a>
                    <h1 class="header-title" style="font-family: 'NanumSquareEB'; float: left;">
                        기초 정보 등록
                    </h1>
                </div>
                <div class="row ulList">
                    <div class="col-md-3 col-xl-2">

                    <div class="card" style="margin-right: 10px; min-width: 180px;">

                        <div class="list-group list-group-flush" role="tablist">
                            <a class="list-group-item list-group-item-action" href="product"
                               role="tab">
                                제품
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="size"
                               role="tab">
                                제품 옵션 - 사이즈
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="sheet"
                               role="tab">
                                제품 옵션 - 시트
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="filling"
                               role="tab">
                                제품 옵션 - 필링
                            </a>
                            <a class="list-group-item list-group-item-action" href="boxing"
                               role="tab">
                                제품 옵션 - 포장
                            </a>
                            <a class="list-group-item list-group-item-action" href="order_type"
                               role="tab">
                                주문 유입 경로
                            </a>
                            <a class="list-group-item list-group-item-action" href="pay_type"
                               role="tab">
                                결제 유형
                            </a>
                            <a class="list-group-item list-group-item-action active"
                               href="delivery"
                               role="tab">
                                배송 유형
                            </a>
                            <a class="list-group-item list-group-item-action"
                               href="emp"
                               role="tab" id="authCheck">
                                직원
                            </a>
                        </div>
                    </div>
                </div>

                    <div class="col-md-9 col-xl-10">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="deliver-type" role="tabpanel">
                                <div class="card" style="min-width: 620px;">
                                    <div class="card-body">
                                        <h5 class="card-title">배송 방법</h5>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_length" id="filter-delivery">
                                                    <label>
                                                        <select name="datatables-clients_length"
                                                                aria-controls="datatables-clients"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                        </select>
                                                    </label>
                                                    개씩 보기
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" style="text-align:right">
                                                <div id="search-delivery" class="dataTables_filter">
                                                    <label>
                                                        <input type="search" class="form-control form-control-sm"
                                                               placeholder="" aria-controls="datatables-clients">
                                                    </label>
                                                    <button class="btn btn-primary">검색</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <!-- delivery form -->
                                            <form name="insertForm" action="{% url 'information:delivery_insert' %}" method="GET">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width:15%; text-align: center;">번호</th>
                                                    <th style="width:30%">종류</th>
                                                    <th class="d-none d-md-table-cell" style="width:30%">가격</th>
                                                    <th style="width:20%;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- 새로운 정보를 입력받을 공란 -->
                                                <tr>
                                                    <td style="text-align: center";>{{ last_id }}</td>
                                                    <td><input type="text" placeholder="입력" name="delivery_name"></td>
                                                    <td><input type="text" placeholder="입력" name="delivery_price"></td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn mb-1 btn-primary" type="button" onclick="checkBtn();">등록
                                                        </button>
                                                    </td>
                                                </tr>
                                                <!-- DB에서 조회할 정보 / 내림차순 정렬 -->
                                                {% for i in delivery_table %}
                                                    <tr id="databox_{{ i.delivery_id }}">
                                                        <td class="" style="text-align: center">{{ i.delivery_id }} </td>
                                                        <td class="">{{ i.delivery_name }} </td>
                                                        <td class="">{{ i.delivery_price }} </td>
                                                        <td class="" style="text-align: center;">
                                                            <button class="btn mb-1 btn-danger" id="changeBtn_{{ i.delivery_id }}" data-toggle="modal" data-target="#sizedModalLg"
                                                                    onclick="paging({{ i.delivery_id }})">수정
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- update, delete modal -->
        <div class="modal fade" id="sizedModalLg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 style="font-family: 'NanumSquareB;" class="modal-title">배송 정보 수정</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class='fas fa-times'></i>
                        </button>
                    </div>
                    <div class="modal-body m-3">
                        <form action="{% url 'information:delivery_update' %}" method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="form-label">번호</label>
                                                <div class="update_area">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">종류</label>
                                                <div class="update_area">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">가격</label>
                                                <div class="update_area">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div style="margin: 0 auto;">
                                    <button type="submit" class="btn btn-success">저장</button>
                                    <button id='delBtn' type="button" class="btn btn-danger" onclick="deleteBtn();">삭제</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- END  modal -->

        {% include "footer.html" %}
    </div>

{% endblock %}

{% block javascript %}
    <script>
        <!-- 폼 검증 -->
        function checkBtn() {
            var insertForm = document.insertForm;
            var name = insertForm.delivery_name.value;
            var price = insertForm.delivery_price.value;
            if (!name) {
                alert("정보를 입력하세요");
            } else if (!price) {
                alert("가격을 입력하세요");
            } else {
                insertForm.submit();
            }
        }

        <!-- 비동기 처리를 위한 사전 처리 -->
        function getCookie(name) {
            console.log(1);
            var cookieValue = null;
            if(document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if(cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        var xhr;

        <!-- modal창에 수정 대상이 될 정보를 올리는 함수 -->

        function paging(id){

            <!-- 버튼에 걸린 이벤트 제거 -->
            event.preventDefault();
            <!-- view요청경로 -->
            var strurl = "delivery_get?delivery_id=" + id;
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4) {
                    <!-- 비동기 요청으로 돌려받은 응답을 data에 저장 -->
                    var data = xhr.responseText;
                    <!-- JSON 형태로 파싱 -->
                    var obj = JSON.parse(data);
                    <!-- 불러온 data를 넣을 영역 특정 -->
                    var canvas = document.querySelectorAll(".update_area");

                    var modal_id = canvas[0];
                    var modal_name = canvas[1];
                    var modal_price = canvas[2];
                    <!-- 수정할 수 있도록 input 태그로 변환 -->
                    modal_id.innerHTML = "<input type='text' name='delivery_id' value='" + obj.delivery_id + "' readonly/>";
                    modal_name.innerHTML = "<input type='text' name='delivery_name' value='" + obj.delivery_name + "'/>";
                    modal_price.innerHTML = "<input type='text' name='delivery_price' value='" + obj.delivery_price + "'/>";
                    <!-- 삭제를 위한 인자 생성 -->
                    var del = document.getElementById("delBtn");
                    var delete_id = obj.delivery_id;
                    del.setAttribute("data-id", delete_id);
                }
            }
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        }

        <!-- delete -->
        function deleteBtn() {
            var delivery_id = event.currentTarget.dataset.id;
            if(confirm('삭제하시겠습니까?')) {
                location.href = '/information/deliveryg_delete?delivery_id=' + delivery_id;
            }
        }
    </script>
{% endblock javascript %}