{% extends "base.html" %}
{% load static %}

{% block body %}
    <!-- side navbar -->
    {% include "navigation.html" %}
    <div class="main">

        <!--  top navbar  -->
        {% include "top-navigation.html" %}

        <!--  main content  -->
        <main class="content">


            <div class="container-fluid">

                <div class="header" style="overflow: hidden; margin-bottom: 23px;">
                    <a class="sidebar-toggle d-flex mr-2" style="float: left; height: 32px; line-height: 32px;">
                        <i class="hamburger align-self-center"></i>
                    </a>
                    <h1 class="header-title" style="font-family: 'NanumSquareEB'; float: left;">
                        기초 정보 등록
                    </h1>
                </div>
                <div class="row ulList">
                    <div class="col-md-3 col-xl-2">

                        <div class="card" style="margin-right: 10px; min-width: 180px;">

                            <div class="list-group list-group-flush" role="tablist">
                                <a class="list-group-item list-group-item-action" href="product"
                                   role="tab">
                                    제품
                                </a>
                                <a class="list-group-item list-group-item-action active"
                                   href="size"
                                   role="tab">
                                    제품 옵션 - 사이즈
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="sheet"
                                   role="tab">
                                    제품 옵션 - 시트
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="filling"
                                   role="tab">
                                    제품 옵션 - 필링
                                </a>
                                <a class="list-group-item list-group-item-action" href="boxing"
                                   role="tab">
                                    제품 옵션 - 포장
                                </a>
                                <a class="list-group-item list-group-item-action" href="order_type"
                                   role="tab">
                                    주문 유입 경로
                                </a>
                                <a class="list-group-item list-group-item-action" href="pay_type"
                                   role="tab">
                                    결제 유형
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="delivery"
                                   role="tab">
                                    배송 유형
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="emp"
                                   role="tab" id="authCheck">
                                    직원
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-xl-10">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-size" role="tabpanel">
                                <div class="card" style="min-width: 920px;">
                                    <div class="card-body">
                                        <h5 class="card-title">사이즈</h5>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_length" id="filter-size">
                                                    <label>
                                                        <select id="page_count1"
                                                                name="datatables-clients_length"
                                                                aria-controls="datatables-clients"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                            {% if count == '10' %}
                                                                <option value="10" selected>10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                            {% elif count == '25' %}
                                                                <option value="10">10</option>
                                                                <option value="25" selected>25</option>
                                                                <option value="50">50</option>
                                                            {% elif count == '50' %}
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50" selected>50</option>
                                                            {% endif %}
                                                        </select>
                                                    </label>
                                                    개씩 보기
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" style="text-align:right">
                                                <div id="search-size" class="dataTables_filter">
                                                    <label>
                                                        <input type="search" class="form-control form-control-sm kw"
                                                               id="searchList" value="{{ kw }}"
                                                               placeholder="검색" aria-controls="datatables-clients">
                                                    </label>
                                                    <button class="btn btn-primary" id="btn_search">검색</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <!-- size form -->
                                            <form name="insertForm" action="{% url 'information:size_insert' %}" method="GET">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width:25%">품목</th>
                                                    <th style="width:20%">사이즈</th>
                                                    <th class="d-none d-md-table-cell" style="width:20%">가격</th>
                                                    <th style="width:20%;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- 새로운 정보를 입력받을 공란 -->
                                                <tr>
                                                    <td>
                                                        <div class="">
                                                            <select class="form-control select2" data-toggle="select2" name="size_product">
                                                                <option value="0">상품선택</option>
                                                                {% for i in product_dict %}
                                                                    <optgroup label="{{ i.category_mid }}">
                                                                    {% for j in product_dict.values %}
                                                                        {% for k in j %}
                                                                            {% if k.category_id_id == i.category_id %}
                                                                                <option value="{{ k.product_id }}">{{ k.product_name }}</option>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                    </optgroup>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" placeholder="입력" name="size_name"></td>
                                                    <td><input type="text" placeholder="입력" name="size_price"></td>
                                                    <td class="table-action" style="text-align: center;">
                                                        <button class="btn mb-1 btn-primary" type="button" onclick="checkBtn();" style="min-width: 55px;">등록</button>
                                                    </td>
                                                </tr>
                                                <!-- DB에서 조회할 정보 / 내림차순 정렬 -->
                                                {% for i in size %}
                                                    <tr id="databox_{{ i.size_id }}">
                                                        <td hidden>{{ i.size_id }} </td>
                                                        <td class="">{{ i.product_id.product_name }} </td>
                                                        <td class="">
                                                            <input type="text" id="updateName_{{ i.size_id }}" value="{{ i.size_name }}"/>
                                                        </td>
                                                        <td class="">
                                                            <input type="text" id="updatePrice_{{ i.size_id }}" value="{{ i.size_price }}"/>
                                                        </td>
                                                        <td class="" style="text-align: center;">
                                                            <button class="btn mb-1 btn-primary" type="button" onclick="size_updateBtn({{ i.size_id }})">수정</button>
                                                            <button class="btn mb-1 btn-danger" type="button" onclick="size_deleteBtn({{ i.size_id }})">삭제</button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            </form>
                                            <ul class="pagination justify-content-center" style="margin-top: 10px;">
                                                <!-- 처음페이지 -->
                                                {% if size.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" data-page="1" href="#"><<</a>
                                                    </li>
                                                {% endif %}
                                                <!-- 이전페이지 -->
                                                {% if size.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" data-page="{{ size.previous_page_number }}" href="#">이전</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                                    </li>
                                                {% endif %}
                                                <!-- 페이지리스트 -->
                                                {% for page_number in size.paginator.page_range %}
                                                    {% if page_number >= size.number|add:-10 and page_number <= size.number|add:10 %}
                                                        {% if page_number == size.number %}
                                                            <li class="page-item active" aria-current="page">
                                                                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item">
                                                                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <!-- 다음페이지 -->
                                                {% if size.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" data-page="{{ size.next_page_number }}" href="#">다음</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                                    </li>
                                                {% endif %}
                                                <!-- 마지막페이지 -->
                                                {% if size.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" data-page="{{ max_index }}" href="#">>></a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                            <!-- end pagination -->
                                            <!-- 검색조건 form -->
                                            <form id="searchForm" method="GET" action="{% url 'information:size_view' %}">
                                                <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
                                                <input type="hidden" id="page" name="page" value="{{ page }}">
                                                <input type="hidden" id="page_count" name="count" value="{{ count }}">
                                            </form>
                                            <!-- end form -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </div>

{% endblock %}

{% block javascript %}

    <script>
        {{ block.super }}
        <!-- 폼 검증 -->
        function checkBtn() {
            var insertForm = document.insertForm;
            var product = insertForm.size_product.value;
            var name = insertForm.size_name.value;
            var price = insertForm.size_price.value;
            if (!product) {
                alert("제품을 선택하세요");
            } else if (!name) {
                alert("사이즈를 입력하세요");
            } else if(!price) {
                alert("가격을 입력하세요");
            } else {
                insertForm.submit();
            }
        }

        $(document).ready(function() {
            // 페이지네이션
            $('.page-link').on('click', function() {
                $('#page').val($(this).data('page'));
                $('#searchForm').submit();
            });
            // 검색
            $('#btn_search').on('click', function() {
                // 키워드 설정
                $('#kw').val($('.kw').val());
                // 게시글 수 설정
                $('#page_count').val($('#page_count1 option:selected').val());
                // 검색 후 1페이지부터 조회
                $('#page').val(1);
                $('#searchForm').submit();
            });
            // 게시글 수 조정
            $('#page_count1').on('change', function() {
                $('#kw').val($('.kw').val());
                $('#page_count').val($('#page_count1 option:selected').val());
                $('#page').val(1);
                $('#searchForm').submit();
            })
        });

        <!-- 비동기 처리를 위한 사전 처리 -->
        function getCookie(name) {
            console.log(1);
            var cookieValue = null;
            if(document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if(cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        var xhr;

        <!-- update -->
        function size_updateBtn(id) {
            let name = document.getElementById(`updateName_${id}`).value;
            name = encodeURIComponent(name);
            let price = document.getElementById(`updatePrice_${id}`).value;

            if(name.length === 0) {
                alert('사이즈를 입력해주세요');
                return false;
            }
            if(price.length === 0) {
                alert('가격을 입력해주세요');
                return false;
            }

            let strurl = `size_update?id=${id}&name=${name}&price=${price}`;
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4) {
                    let data = xhr.responseText;
                    let obj = JSON.parse(data);
                    if(obj.flag === '0') {
                        alert(obj.result_msg);
                    }
                }
            };
            xhr.open('GET', strurl);
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
            xhr.send(null);
        }


        <!-- delete -->
        function size_deleteBtn(id) {
            if(!confirm('삭제하시겠습니까?')) {
                return false;
            }
            location.href = '/information/size_delete?size_id=' + id;
        }

        $(function() {
            <!-- 검색어 자동완성 -->
            $(".select2").each(function() {
                $(this)
                    .wrap("<div class=\"position-relative\"></div>")
                    .select2({
                        placeholder: "Select value",
                        dropdownParent: $(this).parent()
                    });
            })
        });

    </script>
{% endblock javascript %}