{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="min-width: 1200px;">
        <div style="margin: 0 10px;">
            <a href="/" class="mr-1" style="margin-right: 10px; display: inline-block;">
                <i class="align-middle" data-feather="refresh-cw"></i>
            </a>
        </div>
    <div class="btn-group md-2" role="group" style="padding-left: 0; border: 1px solid cornflowerblue; border-radius: 5px; box-sizing: border-box;">
        {% if valuedate == 'order' %}
        <button type="button" class="btn btn-primary" style="width: 70px;" id="order_btn" data-date="order" onclick="changeDate('order');">주문일</button>
        <button type="button" class="btn" style="width: 70px; color: #CCCCCC;" id="deploy_btn" data-date="deploy" onclick="changeDate('deploy');">출고일</button>
        {% elif valuedate == 'deploy' %}
        <button type="button" class="btn" style="width: 70px; color: #CCCCCC;" id="order_btn" data-date="order" onclick="changeDate('order');">주문일</button>
        <button type="button" class="btn btn-primary" style="width: 70px;" id="deploy_btn" data-date="deploy" onclick="changeDate('deploy');">출고일</button>
        {% endif %}
    </div>

    <div class="btn-group md-2" role="group" style="width: 450px; padding-right: 0.5rem;">
        <p style="width:100px; margin-left: 20px; margin-right: 10px; margin-top: 15px; font-size: 15px; font-weight: bold; ">날짜선택></p>
        <input style="margin-top: 11px;" class="form-control" id="date_range2" type="text" name="date_range2" value="" />
    </div>
    <div class="btn-group md-2 mr-auto" role="group" style="padding: 0.5rem;">

        <div class="form-inline">
            <select class="custom-select" id="kwtype1" style="width: 30%;">
            {% if kwtype == '' %}
                <option value="" selected>전체</option>
            {% else %}
                <option value="">전체</option>
            {% endif %}
            {% if kwtype == 'customer' %}
                <option value="customer" selected>고객명</option>
            {% else %}
                <option value="customer">고객명</option>
            {% endif %}
            {% if kwtype == 'recipient' %}
                <option value="recipient" selected>수취인명</option>
            {% else %}
                <option value="recipient">수취인명</option>
            {% endif %}
            {% if kwtype == 'product' %}
                <option value="product" selected>상품명</option>
            {% else %}
                <option value="product">상품명</option>
            {% endif %}
            {% if kwtype == 'recipient_phone' %}
                <option value="recipient_phone" selected>연락처</option>
            {% else %}
                <option value="recipient_phone">연락처</option>
            {% endif %}
        </select>
            <input class="form-control kw" type="search" id="searchList" placeholder="검색" aria-label="Search" value="{{ kw|default_if_none:'' }}" oninput="customerphone(this);">
            <button class="btn btn-dribbble my-2 my-sm-0" type="button" id="btn_search">검색</button>
        </div>
    </div>
    <div class="btn-group btn-group md-2 align-items-center" role="group" style="padding: 0 2px;">
        <select class="custom-select" id="page_count1" style="width: 30%;">
            {% if count == '20' %}
                <option value="20" selected>20개씩 보기</option>
                <option value="50">50개씩 보기</option>
            {% elif count == '50' %}
                <option value="20">20개씩 보기</option>
                <option value="50" selected>50개씩 보기</option>
            {% endif %}
        </select>
    </div>
</nav>
<script>
    function customerphone(phone) {
        phone.value = phone.value.replace(/\-/g, '');
    }
</script>