<!-- 주문 상세/수정 modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sizedModalLg">
    주문 상세 테스트 Modal
</button>
<div class="modal fade" id="sizedModalLg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="font-family: 'NanumSquareB;" class="modal-title">주문 수정 (testing) </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="" method="get">
                                    <input type="hidden" name="pno" value="{{ order.pno }}">
                                    {% for order in orderDetail %}
                                        {% if forloop.first %}
                                            <!-- 1번째 줄 -->
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="">주문 접수자</label>
                                                    <button style="border: none; background-color: transparent" id="">
                                                        <i class="align-middle mr-2 fas fa-fw fa-user-friends"></i>
                                                    </button>
                                                    <input type="text" class="form-control" name="employee_name" value="{{ order.employee_name }}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputCitcy">주문 No.</label>
                                                    <input type="text" class="form-control" id="" value="{{ order.order_no }}">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputCity">주문일자</label>
                                                    <button style="border: none; background-color: transparent" id="select-order-person2">
                                                        <i class="align-middle mr-2 far fa-fw fa-calendar-alt"></i>
                                                    </button>
                                                    <input type="text" class="form-control" id="" value="{{ order.order_date }}">
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="order-root">주문 경로</label>
                                                    <input type="text" class="form-control" id="" value="{{ order.order_type }}">
                                                </div>
                                            </div>

                                            <!-- 2번째 줄 -->
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label for="inputCity">고객명</label>
                                                    <input type="text" class="form-control" name="" value="{{ order.customer }}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputCity">연락처</label>
                                                    <input type="text" class="form-control" value="{{ order.customer_phone }}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="order-root">수령 방법</label>
                                                    <!-- seleced 된 것으로 value 불러와야 함 -->
                                                    <select class="form-control select1" data-toggle="select1"
                                                            style="" id="order-root">
                                                        <option value="일반택배">일반택배</option>
                                                        <option value="메세나 픽업">메세나 픽업</option>
                                                        <option value="작업장 픽업">작업장 픽업</option>
                                                        <option value="퀵">퀵</option>
                                                        <option value="지하철 택배">지하철 택배</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="inputCity">납품일자</label>
                                                        <i class="align-middle mr-2 far fa-fw fa-calendar-alt"></i>
                                                    <input type="text" class="form-control" id="" value="{{ order.receipt_date }}">
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="inputCity">도착시간</label>
                                                    <button style="border: none; background-color: transparent" id="select-order-person">
                                                        <i class="align-middle mr-2 far fa-fw fa-clock"></i>
                                                    </button>
                                                    <input type="text" class="form-control" id="inputCity" value="{{ order.receipt_hour }}">
                                                </div>
                                            </div>

                                            <!-- 3번째 줄 -->
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <span>품목명</span>
                                                </div>
                                            </div>
                                            <div class="card" id="item-card">
                                                <div class="card-body">
                                                    <!-- 1번째 품목 -->
                                                    <div class="form-group row">
                                                        <button class="item-button" style="margin-left: 5px; border-color: white;
                                                background-color: #153d77; color: white">1</button>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" value="{{ order.product_name }}">
                                                        </div>

                                                        <!-- 옵션 결과 불러올 때, 전체 결과 조합해서 보여주기 -->
                                                        <button type="button" class="btn item-button"
                                                                style="border-color: white;
                                                background-color: #153d77; color: white"
                                                                data-toggle="modal" data-target="#sizedModalLg">+ 옵션추가</button>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" readonly
                                                                   value="{{ order.size_option_name }}">
                                                        </div>
                                                        <div class="col-md-1" style="padding-left: 0">
                                                            <input type="number" class="form-control" value="{{ order.count }}">
                                                        </div>
                                                        <label style="padding-right: 20px;" class="col-form-label" for="">개</label>
                                                        <button class="item-button"
                                                                style="border-color: white;
                                                background-color: darkred; color: white">X</button>
                                                    </div>
                                                    <div class="form-group row justify-content-end">
                                                        <label style="padding-left: 20px;" class="col-form-label" for="">금액</label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" value="">
                                                        </div>
                                                    </div>

                                                    <!-- 상품 추가 버튼 -->
                                                    <div class="form-group row">
                                                        <button class="btn btn-block" style="margin-left: 50px; margin-top: 30px;
                                                 background-color: #153d77; color: white; width: 30%;">
                                                            + 상품 추가
                                                        </button>
                                                    </div>
                                                    <!-- 총 금액 표시 -->
                                                    <div class="form-group row" style="float: right; clear: both;">
                                                        <label style="padding-left: 20px;" class="col-form-label" for="">총</label>
                                                        <div class="col-md-10">
                                                            <input type="text" class="form-control" value="">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- 4번째 줄 -->
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label for="inputCity">결제금액</label>
                                                    <input type="text" class="form-control" id="" value="{{ order.total_price }}">
                                                </div>
                                                <div class="col-md-6" style="margin-bottom: 16px;">
                                                    <label for="inputCity">결제여부</label>
                                                    <div class="col-md-6" style="align-items: center;">
                                                        <label class="form-check form-check-inline" style="margin-top: 8px; margin-right: 30px;">
                                                            <input class="form-check-input" type="radio" name="inline-radios-example" value="O">
                                                            <span class="form-check-label">
												완료
											</span>
                                                        </label>
                                                        <label class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="inline-radios-example" value="X">
                                                            <span class="form-check-label">
												미완료
											</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4" style="margin-left: -200px;">
                                                    <label for="order-root">결제 방법</label>
                                                    <select class="form-control select1" data-toggle="select1"
                                                            style="" id="order-root">
                                                        <option value="AK">카드</option>
                                                        <option value="HI">계좌이체</option>
                                                        <option value="HI">직접 결제</option>
                                                        <option value="HI">그리고?</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- 5번째 줄 (동일인 체크) -->
                                            <div class="form-row" style="margin-top: 20px;">
                                                <div class="form-inline">
                                                    <div class="custom-control custom-checkbox mb-1 mr-sm-2">
                                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                        <label class="custom-control-label" for="customControlInline"
                                                               style="color: darkgray; font-size: 13px;">주문 고객과 동일인</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 6번째 줄 -->
                                            <div class="form-row" style="margin-top: 10px;">
                                                <div class="form-group col-md-3">
                                                    <label for="">수령인명</label>
                                                    <input type="text" class="form-control" id="" value="{{ order.recipient }}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputCity">수령인 연락처</label>
                                                    <input type="text" class="form-control" id="" value="{{ order.recipient_phone }}">
                                                </div>
                                            </div>

                                            <!-- 7번째 줄 -->
                                            <div class="form-group row">
                                                <label style="padding-left: 12px;padding-right: 10px;"
                                                       class="col-form-label" for="">수령인 주소</label>
                                                <button style="border-color: white;
                                                background-color: #0d8ddc; color: white">우편번호 검색</button>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="" value="{{ order.address1 }}">
                                                </div>
                                                <div class="col-md-4" style="padding-left: 0;">
                                                    <input type="text" class="form-control" id="" value="{{ order.address2 }}">
                                                </div>
                                            </div>

                                            <!-- 8번째 줄 -->
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label class="form-label">주문메모</label>
                                                    <textarea style="width: 100%;" class="form-control" rows="5" cols="" value="{{ order.memo }}"></textarea>
                                                </div>
                                            </div>
                                        {%endif%}
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">옵션 등록하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END  modal -->