{% load static %}
<nav id="sidebar" class="sidebar">
	<a class="sidebar-brand" href="{% url 'list:home' %}">
		<img src="{% static 'dist/img/brands/meehong_BI_horizontal_2.png' %}" class="img-fluid" alt="meehong_logo"/>
	</a>
	<div class="sidebar-content">
		<div class="sidebar-user">
			<img src="{% static 'dist/img/brands/meehong_BI_vertical_2.png' %}" class="img-fluid rounded-circle mb-2" alt="profile" />
			<div class="font-weight-bold">{{ member_name }}</div>
			<small>{{ member_auth }}</small>
		</div>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Main
			</li>
			<li class="sidebar-item {% if request.path == '/' %}active{% endif %}">
				<a href="/" class="sidebar-link">
					<i class="align-middle mr-2 fas fa-fw fa-list"></i> <span class="align-middle">전체 주문 목록</span>
				</a>
			</li>
			<li class="sidebar-item {% if request.path == '/sheet/order_sheet' %}active{% endif %}">
				<a href="/sheet/order_sheet" class="sidebar-link collapsed">
					<i class="align-middle mr-2 fas fa-fw fa-file"></i> <span class="align-middle">주문서 작성</span>
				</a>
			</li>
            {% if request.path == '/information/product' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/size' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/sheet' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/filling' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/boxing' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/order_type' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/pay_type' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/delivery' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% elif request.path == '/information/emp' %}
                <li class="sidebar-item active">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% else %}
                <li class="sidebar-item">
                    <a href="/information/product" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-edit"></i> <span class="align-middle">기초 정보 등록</span>
                    </a>
                </li>
            {% endif %}
		</ul>
	</div>
</nav>