{% load static %}
{#<script src="{% static '/assets/js/app.js' %}"></script>#}
{#<script src="{% static '/assets/js/settings.js' %}"></script>#}
{#<script src="{% static '/assets/js/ggu.js' %}"></script>#}
{#<script src="{% static '/assets/js/orderlist-pagination.js' %}"></script>#}
{#<script src="{% static '/assets/js/orderlist-datetimepicker.js' %}"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
